
@model MyRecipes.Web.ViewModels.Search.ListViewModel
@{
    ViewData["Title"] = "Search result";
}

<h1>@ViewData["Title"]</h1>

@if (Model.Recipes.Count() == 0)
{
    <div class="text-center">
    <h3>Results Not Found</h3>
    </div>
    
    <img src="~/error/img.png" alt="IMAGES" />
}
else
{
    <div class="row">
        @foreach (var recipe in this.Model.Recipes)
        {
            <div class="card col-md-3">
                <img class="card-img-top" src="@recipe.ImageUrl" alt="@recipe.Name">
                <div class="card-body">
                    <h5 class="card-title">@recipe.Name</h5>
                    <p class="card-text">@recipe.CategoryName</p>
                    <a asp-controller="Recipes" asp-action="ById" asp-route-id="@recipe.Id" class="btn btn-primary">Go to recipe</a>
                </div>
            </div>
        }
    </div>
}
